html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}

[hidden] {
  display: none;
}
:root {
  --color-bbbb: #000;
  --color-ll: #ddd;
  --color-lll: #f1f1f1;
  --spacing-ppp: 48/16;
  --spacing-pp: 32/16;
  --spacing-p: 24/16;
  --spacing-base: 16/16;
  --spacing-m: 8/16;
  --spacing-mm: 4/16;
  --spacing-mmm: 2/16;
  --spacing-mmmm: 1/16;
  --spacing-three: calc(var(--spacing-ppp) * 1rem);
  --spacing-two: calc(var(--spacing-pp) * 1rem);
  --spacing: calc(var(--spacing-p) * 1rem);
  --spacing-one: calc(var(--spacing-base) * 1rem);
  --spacing-half: calc(var(--spacing-m) * 1rem);
  --spacing-quarter: calc(var(--spacing-mm) * 1rem);
  --spacing-micro: calc(var(--spacing-mmm) * 1rem);
  --spacing-px: calc(var(--spacing-mmmm) * 1rem);
  --color-code-light-background: var(--color-lll);
  --system-ui: system-ui, sans-serif;
  --system-mono: ui-monospace;
  --fallback-mono: "Roboto Mono", monospace, monospace;
  --font-color: var(--color-bbbb);
  --font-family: var(--system-ui);
  --font-family-mono: var(--system-mono), var(--fallback-mono);
  --font-size-pppppp: calc((96 / 16) * 1rem);
  --font-size-ppppp: calc((60 / 16) * 1rem);
  --font-size-pppp: calc((48 / 16) * 1rem);
  --font-size-ppp: calc((34 / 16) * 1rem);
  --font-size-pp: calc((24 / 16) * 1rem);
  --font-size-p: calc((20 / 16) * 1rem);
  --font-size-l: calc((18 / 16) * 1rem);
  --font-size: calc((16 / 16) * 1rem);
  --font-size-m: calc((14 / 16) * 1rem);
  --font-size-mm: calc((12 / 16) * 1rem);
  --font-size-mmm: calc((10 / 16) * 1rem);
  --line-height: calc(var(--spacing-p));
  --line-height-one: calc(var(--spacing-base));
  --line-height-half: calc(var(--spacing-m));
  --line-height-quarter: calc(var(--spacing-mm));
  color: var(--font-color);
  /*  font-family: var(--font-family);*/
  font-size: var(--font-size);
  line-height: var(--line-height);
  background: 0 0;
}
html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}
body {
  min-height: 100%;
}
blockquote {
  font-style: normal;
  padding: var(--spacing);
  border: var(--spacing-px) solid var(--font-color);
}
@media screen {
  blockquote {
    padding: 0 0 0 var(--spacing);
    border-width: 0 0 0 var(--spacing-micro);
  }
}
blockquote p {
  margin: 0;
}
blockquote p + p {
  margin-top: var(--spacing);
}
blockquote cite {
  font-style: normal;
  font-size: var(--font-size);
}
code,
kbd,
pre,
samp {
  font-family: var(--font-family-mono);
  font-size: var(--font-size);
  font-style: normal;
  line-height: var(--line-height);
}
code,
kbd,
samp {
  margin: 0;
}
@media screen {
  code,
  kbd,
  samp {
    background-color: var(--color-code-light-background);
  }
}
pre {
  position: relative;
  overflow: auto;
  padding: var(--spacing);
  white-space: pre-wrap;
  word-wrap: normal;
  word-break: normal;
  tab-size: 4;
  hyphens: none;
}
@media screen {
  pre {
    white-space: pre;
    background: var(--color-code-light-background);
  }
}
pre code {
  display: block;
  overflow: auto;
  height: 100%;
  margin: 0;
  padding: 0;
  white-space: pre;
  color: inherit;
  border: none;
  border-radius: 0;
  background: 0 0;
}

ol li,
ul li {
  margin-left: var(--spacing);
}
ol {
  list-style: decimal;
}
ol ol {
  list-style: upper-alpha;
}
ol ol ol {
  list-style: lower-roman;
}
ol ol ol ol {
  list-style: lower-alpha;
}
ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
}

table {
  width: 100%;
  table-layout: fixed;
  empty-cells: show;
}
tr {
  vertical-align: baseline;
}
tfoot td,
th {
  text-align: left;
}
td,
th {
  overflow: visible;
}
caption,
p,
table,
td,
textarea,
th {
  word-wrap: break-word;
  hyphens: auto;
}
abbr,
acronym,
dfn[title] {
  cursor: help;
}
abbr a {
  text-decoration: none;
}
del {
  font-style: normal;
  text-decoration: line-through;
}
details {
  cursor: pointer;
}
cite,
em,
i {
  font-style: italic;
}

:root {
  --color-code-cloze: #f12056;
  --color-code-cloze-background: #ffffcc;
  --color-card-l: #757575;
  --color-card-ll: #bdbdbd;
  --color-card-lll: #eceff1;
  --color-card-llll: #fff;
  --color-nightmode-text: #fff;
  --color-nightmode-text-light: #ccc;
  --color-nightmode-text-dark: #333;
  --color-nightmode-border: #ddd;
  --color-nightmode-link: #3daee9;
  --color-code-bold: #f12056;
  --color-code-italic: #f67400;
  --color-code-dark-background: #353535;
  --color-code-dark-text-color: #efffff;
  --recursive: "Recursive";
  --font-family: var(--recursive), var(--system-ui);
  --font-family-header: var(--recursive), var(--system-ui);
  --font-family-mono: var(--recursive), var(--system-mono), var(--fallback-mono);
  --dejavu: "DejaVu Sans";
  --font-family-old: var(--dejavu);
  --font-family-header-old: var(--dejavu);
}
body {
  color: var(--font-color);
  /*  font-family: var(--font-family);*/
  font-size: var(--font-size);
  font-variation-settings: "CASL" 0.43;
  line-height: var(--line-height);
  background: transparent;
}
@font-face {
  font-family: "Recursive";
  src: url("_RecursiveVariableFont.woff2") format("woff2-variations");
  font-style: oblique 0deg 15deg;
  font-weight: 300 1000;
}
@font-face {
  font-family: "DejaVu Sans";
  src: url("_DejaVuSans.ttf");
  font-style: normal;
  font-weight: 400;
}
code,
kbd {
  padding: 0;
  background: var(--color-ll);
  border-color: transparent;
  padding: var(--spacing-micro) var(--spacing-quarter);
  font-size: inherit;
  background: #9a9a9a;
  color: black;
}
code:empty,
kbd:empty {
  margin: 0;
  padding: 0;
  background: transparent;
  border-color: transparent;
}
pre {
  font-size: inherit;
}
.nightMode pre {
  background: var(--color-code-dark-background);
}
h1 {
  font-size: var(--font-size-p);
  line-height: var(--line-height);
  text-transform: none;
  letter-spacing: normal;
}
h2 {
  font-weight: normal;
  font-size: var(--font-size);
  line-height: var(--line-height);
  text-transform: none;
  letter-spacing: normal;
}
table {
  text-align: left;
  border-collapse: collapse;
}
thead tr {
  border-bottom: 1px solid var(--color-card-l);
}
thead th {
  font-weight: 700;
}
tbody tr {
  border-bottom: 1px solid var(--color-card-ll);
}
tbody tr:last-of-type {
  border-bottom-color: transparent;
}
tbody td {
  padding: var(--spacing-half) 0;
}
.nightMode a {
  color: var(--color-nightmode-link);
}
img {
  max-width: 100%;
  height: auto;
}

pre,
pre code {
  text-align: left;
  color: var(--color-code-dark-text-color);
  font-family: var(--font-family-mono);
  background: var(--color-code-dark-background);
}
@media (orientation: portrait) {
  pre {
    font-size: var(--font-size-m);
  }
}
