:root {
  --color-code-cloze: #f12056;
  --color-code-cloze-background: #ffffcc;
  --color-card-l: #757575;
  --color-card-ll: #bdbdbd;
  --color-card-lll: #eceff1;
  --color-card-llll: #fff;
  --color-nightmode-text: #fff;
  --color-nightmode-text-light: #ccc;
  --color-nightmode-text-dark: #333;
  --color-nightmode-border: #ddd;
  --color-nightmode-link: #3daee9;
  --color-code-bold: #f12056;
  --color-code-italic: #f67400;
  --color-code-dark-background: #353535;
  --color-code-dark-text-color: #efffff;
  --recursive: "Recursive";
  --font-family: var(--recursive), var(--system-ui);
  --font-family-mono: var(--recursive), var(--system-mono), var(--fallback-mono);
}
:root {
  --color-bbbb: #000;
  --color-ll: #ddd;
  --color-lll: #f1f1f1;
  --spacing-ppp: 48/16;
  --spacing-pp: 32/16;
  --spacing-p: 24/16;
  --spacing-base: 16/16;
  --spacing-m: 8/16;
  --spacing-mm: 4/16;
  --spacing-mmm: 2/16;
  --spacing-mmmm: 1/16;
  --spacing-three: calc(var(--spacing-ppp) * 1rem);
  --spacing-two: calc(var(--spacing-pp) * 1rem);
  --spacing: calc(var(--spacing-p) * 1rem);
  --spacing-one: calc(var(--spacing-base) * 1rem);
  --spacing-half: calc(var(--spacing-m) * 1rem);
  --spacing-quarter: calc(var(--spacing-mm) * 1rem);
  --spacing-micro: calc(var(--spacing-mmm) * 1rem);
  --spacing-px: calc(var(--spacing-mmmm) * 1rem);
  --color-code-light-background: var(--color-lll);
  --system-ui: system-ui, sans-serif;
  --system-mono: ui-monospace;
  --fallback-mono: "Roboto Mono", monospace, monospace;
  --font-color: var(--color-bbbb);
  --recursive: "Recursive";
  --font-family: var(--recursive), var(--system-ui);
  --font-family-mono: var(--recursive), var(--system-mono), var(--fallback-mono);
  --font-size-pppppp: calc((96 / 16) * 1rem);
  --font-size-ppppp: calc((60 / 16) * 1rem);
  --font-size-pppp: calc((48 / 16) * 1rem);
  --font-size-ppp: calc((34 / 16) * 1rem);
  --font-size-pp: calc((24 / 16) * 1rem);
  --font-size-p: calc((20 / 16) * 1rem);
  --font-size-l: calc((18 / 16) * 1rem);
  --font-size: calc((16 / 16) * 1rem);
  --font-size-m: calc((14 / 16) * 1rem);
  --font-size-mm: calc((12 / 16) * 1rem);
  --font-size-mmm: calc((11 / 16) * 1rem);
  --line-height: calc(var(--spacing-p));
  --line-height-one: calc(var(--spacing-base));
  --line-height-half: calc(var(--spacing-m));
  --line-height-quarter: calc(var(--spacing-mm));
  /* color: var(--font-color); */
  /* font-family: var(--font-family); */
  font-size: var(--font-size);
  /* line-height: var(--line-height); */
  /* background: 0 0; */
}

body {
  font-variation-settings: "CASL" 0.43;
}

@font-face {
  font-family: "Recursive";
  src: url("_RecursiveVariableFont.woff2") format("woff2-variations");
  font-style: oblique 0deg 15deg;
  font-weight: 300 1000;
}

@font-face {
  font-family: "Consolas";
  src: url("_CONSOLA.TTF");
  font-style: oblique 0deg 15deg;
  font-weight: 300 1000;
}

.card {
  /* font-family: "Calibri"; */
  font-size: 20px;
  text-align: left;
}

code,
kbd {
  background: var(--color-ll);
  font-family: var(--font-family-mono);
  padding: 0 var(--spacing-quarter);
  font-size: inherit;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  background-color: #363b46;
  color: #ff8ece;
}

.highlight {
  overflow: hidden; /* Ensures background does not leak outside the border-radius */
  margin-top: var(--spacing-half);
}

pre {
  /* position: relative; */
  white-space: pre;
  overflow-x: scroll;
  overflow-y: hidden;
  /* word-wrap: normal;
  word-break: normal; */
  tab-size: 4;
  hyphens: none;

  border-radius: inherit; /* Inherits the border-radius from .highlight */
  margin: 0; /* Avoids extra spacing */
  padding: var(--spacing-quarter);
}

pre code {
  display: block;
  overflow: auto;
  height: 100%;
  margin: 0;
  white-space: pre;
  color: inherit;
  border: none;
  background: 0 0;
}

pre,
pre code {
  text-align: left;
  color: var(--color-code-dark-text-color);
  font-family: var(--font-family-mono);
  background: var(--color-code-dark-background);
  padding: calc(var(--spacing-half) + var(--spacing-quarter));
  font-size: var(--font-size);
}

@media (orientation: portrait) {
  pre {
    font-size: var(--font-size-mmm);
  }
}

/* DELETE WHEN PANDOC IMPLEMENTED */

table {
  width: 100%;
  empty-cells: show;
  table-layout: fixed;
  text-align: left;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  background-color: transparent;
}
thead tr {
  border-bottom: 1px solid var(--color-card-l);
}
thead th {
  font-weight: 700;
}
tbody tr {
  border-bottom: 1px solid var(--color-card-ll);
}
.nightMode tbody tr {
  border-color: var(--color-card-l);
}
tbody tr:last-of-type {
  border-bottom-color: transparent;
}

/* DELIMITER */

:root {
  --color-card-l: #757575;
  --color-card-ll: #bdbdbd;
  --color-card-lll: #eceff1;
  --color-card-llll: #fff;
  --color-nightmode-background-d: #222;
  --color-nightmode-background-dd: #272822;
  --color-nightmode-background-ddd: #101010;
  --color-nightmode-background-dddd: #000;
  --color-nightmode-background-l: #bbbbbb;
  --color-nightmode-background-ll: #ccc;
  --color-nightmode-background-lll: #ddd;
  --color-nightmode-text: #fff;
  --color-nightmode-text-light: #ccc;
  --color-nightmode-text-dark: #333;
  --color-nightmode-border: #ddd;
  --color-nightmode-link: #3daee9;
  --color-code-bold: #f12056;
  --color-code-italic: #f67400;
  --color-code-dark-background: #353535;
  --color-code-dark-text-color: #efffff;
  --color-code-dark-line-number-color: #7a7c7d;
  --color-code-dark-line-number-background-color: #232629;
  --color-code-dark-normal: #cfcfc2;
  --color-code-dark-alert: #95da4c;
  --color-code-dark-alert-background-color: #4d1f24;
  --color-code-dark-annotation: #3f8058;
  --color-code-dark-attribute: #2980b9;
  --color-code-dark-base-n: #f58c70;
  --color-code-dark-built-in: #83abfb;
  --color-code-dark-char: #efffff;
  --color-code-dark-comment: #7a7c7d;
  --color-code-dark-comment-var: #a9c1ca;
  --color-code-dark-constant: #27aeae;
  --color-code-dark-control-flow: #fdbc4b;
  --color-code-dark-data-type: #8cdefc;
  --color-code-dark-dec-val: #f58c70;
  --color-code-dark-documentation: #a43340;
  --color-code-dark-error: #f25470;
  --color-code-dark-extension: #0099ff;
  --color-code-dark-float: #f67400;
  --color-code-dark-function: #83abfb;
  --color-code-dark-import: #8cdefc;
  --color-code-dark-information: #c695e8;
  --color-code-dark-keyword: #f25470;
  --color-code-dark-operator: #efffff;
  --color-code-dark-other: #c695e8;
  --color-code-dark-preprocessor: #a9c1ca;
  --color-code-dark-region-marker: #2980b9;
  --color-code-dark-region-marker-background: #153042;
  --color-code-dark-special-char: #3daee9;
  --color-code-dark-special-string: #f25470;
  --color-code-dark-string: #c4e792;
  --color-code-dark-variable: #efffff;
  --color-code-dark-verbatim-string: #f25470;
  --color-code-dark-warning: #f25470;
  --color-code-dark-variable-alt: #f58c70;
}

:root {
  --color-code-bold: #569cd6; /* Keyword */
  --color-code-italic: #dcdcaa; /* Variable */
  --color-code-dark-text-color: #d4d4d4; /* Editor foreground */
  --color-code-dark-line-number-color: #858585; /* Line number foreground */
  --color-code-dark-line-number-background-color: #1e1e1e; /* Editor background */
  --color-code-dark-normal: #d4d4d4; /* Editor foreground */
  --color-code-dark-alert: #d16969; /* Error foreground */
  --color-code-dark-alert-background-color: #1e1e1e; /* Editor background */
  --color-code-dark-annotation: #4ec9b0; /* Function */
  --color-code-dark-attribute: #9cdcfe; /* Attribute name */
  --color-code-dark-base-n: #b5cea8; /* Number */
  --color-code-dark-built-in: #c586c0; /* Keyword */
  --color-code-dark-char: #ce9178; /* String */
  --color-code-dark-comment: #6a9955; /* Comment */
  --color-code-dark-comment-var: #6a9955; /* Comment */
  --color-code-dark-constant: #dcdcaa; /* Variable */
  --color-code-dark-control-flow: #569cd6; /* Keyword */
  --color-code-dark-data-type: #c7c877; /* Function */
  --color-code-dark-dec-val: #b5cea8; /* Number */
  --color-code-dark-documentation: #6a9955; /* Comment */
  --color-code-dark-error: #d16969; /* Error foreground */
  --color-code-dark-extension: #dcdcaa; /* Variable */
  --color-code-dark-float: #b5cea8; /* Number */
  --color-code-dark-function: #d3d985; /* Function */
  --color-code-dark-import: #569cd6; /* Keyword */
  --color-code-dark-information: #9cdcfe; /* Attribute name */
  --color-code-dark-keyword: #569cd6; /* Keyword */
  --color-code-dark-operator: #d4d4d4; /* Editor foreground */
  --color-code-dark-other: #c586c0; /* Keyword */
  --color-code-dark-preprocessor: #569cd6; /* Keyword */
  --color-code-dark-region-marker: #6a9955; /* Comment */
  --color-code-dark-region-marker-background: #1e1e1e; /* Editor background */
  --color-code-dark-special-char: #d7ba7d; /* Variable */
  --color-code-dark-special-string: #ce9178; /* String */
  --color-code-dark-string: #ce9178; /* String */
  --color-code-dark-variable: #dcdcaa; /* Variable */
  --color-code-dark-verbatim-string: #ce9178; /* String */
  --color-code-dark-warning: #d7ba7d; /* Variable */
  --color-code-dark-variable-alt: #dcdcaa; /* Variable */
}

div.sourceCode > pre {
  margin: 0;
  margin-top: var(--spacing-half);
  padding: calc(var(--spacing-half) + var(--spacing-quarter));
}

div.sourceCode code {
  margin: 0;
  padding: 0;
}

@media (orientation: portrait) {
  div.sourceCode > pre,
  div.sourceCode code {
    font-size: var(--font-size-mmm);
  }
}

.sourceCode .al {
  color: var(--color-code-dark-alert);
  font-weight: 700;
}
.sourceCode .an {
  color: var(--color-code-dark-annotation);
  font-style: italic;
}
.sourceCode .at {
  color: var(--color-code-dark-attribute);
}
.sourceCode .bn {
  color: var(--color-code-dark-base-n);
}
.sourceCode .bu {
  color: var(--color-code-dark-built-in);
}
.sourceCode .ch {
  color: var(--color-code-dark-char);
}
.sourceCode .co {
  color: var(--color-code-dark-comment);
  font-style: italic;
}
.sourceCode .cv {
  color: var(--color-code-dark-comment-var);
  font-style: italic;
}
.sourceCode .cn {
  color: var(--color-code-dark-constant);
}
.sourceCode .cf {
  color: var(--color-code-dark-control-flow);
  font-weight: 700;
}
.sourceCode .dt {
  color: var(--color-code-dark-data-type);
  text-decoration: underline;
}
.sourceCode .dv {
  color: var(--color-code-dark-dec-val);
}
.sourceCode .do {
  color: var(--color-code-dark-documentation);
  font-style: italic;
}
.sourceCode .er {
  color: var(--color-code-dark-error);
  font-weight: 700;
}
.sourceCode .ex {
  color: var(--color-code-dark-extension);
}
.sourceCode .fl {
  color: var(--color-code-dark-float);
}
.sourceCode .fu {
  color: var(--color-code-dark-function);
}
.sourceCode .im {
  color: var(--color-code-dark-import);
}
.sourceCode .in {
  color: var(--color-code-dark-information);
  font-style: italic;
}
.sourceCode .kw {
  color: var(--color-code-dark-keyword);
  font-weight: 700;
}
.sourceCode .op {
  color: var(--color-code-dark-operator);
}
.sourceCode .ot {
  color: var(--color-code-dark-other);
}
.sourceCode .pp {
  color: var(--color-code-dark-preprocessor);
  font-weight: 700;
}
.sourceCode .re {
  color: var(--color-code-dark-region-marker);
}
.sourceCode .sc {
  color: var(--color-code-dark-special-char);
}
.sourceCode .ss {
  color: var(--color-code-dark-special-string);
}
.sourceCode .st {
  color: var(--color-code-dark-string);
}
.sourceCode .va {
  color: var(--color-code-dark-variable);
}
.sourceCode .vs {
  color: var(--color-code-dark-verbatim-string);
}
.sourceCode .wa {
  color: var(--color-code-dark-warning);
  font-style: italic;
}
