html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}

textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
:root {
  --color-bbbb: #000;
  --color-ll: #ddd;
  --color-lll: #f1f1f1;
  --spacing-ppp: 48/16;
  --spacing-pp: 32/16;
  --spacing-p: 24/16;
  --spacing-base: 16/16;
  --spacing-m: 8/16;
  --spacing-mm: 4/16;
  --spacing-mmm: 2/16;
  --spacing-mmmm: 1/16;
  --spacing-three: calc(var(--spacing-ppp) * 1rem);
  --spacing-two: calc(var(--spacing-pp) * 1rem);
  --spacing: calc(var(--spacing-p) * 1rem);
  --spacing-one: calc(var(--spacing-base) * 1rem);
  --spacing-half: calc(var(--spacing-m) * 1rem);
  --spacing-quarter: calc(var(--spacing-mm) * 1rem);
  --spacing-micro: calc(var(--spacing-mmm) * 1rem);
  --spacing-px: calc(var(--spacing-mmmm) * 1rem);
  --color-code-light-background: var(--color-lll);
  --color-code-light-alert: #000;
  --color-code-light-annotation: #000;
  --color-code-light-attribute: #000;
  --color-code-light-base-n: #000;
  --color-code-light-built-in: #000;
  --color-code-light-char: #000;
  --color-code-light-comment: #000;
  --color-code-light-comment-var: #000;
  --color-code-light-constant: #000;
  --color-code-light-control-flow: #000;
  --color-code-light-data-type: #000;
  --color-code-light-dec-val: #000;
  --color-code-light-documentation: #000;
  --color-code-light-error: #000;
  --color-code-light-extension: #000;
  --color-code-light-float: #000;
  --color-code-light-function: #000;
  --color-code-light-import: #000;
  --color-code-light-information: #000;
  --color-code-light-keyword: #000;
  --color-code-light-operator: #000;
  --color-code-light-other: #000;
  --color-code-light-preprocessor: #000;
  --color-code-light-region-marker: #000;
  --color-code-light-special-char: #000;
  --color-code-light-special-string: #000;
  --color-code-light-string: #000;
  --color-code-light-variable: #000;
  --color-code-light-verbatim-string: #000;
  --color-code-light-warning: #000;
  --system-ui: system-ui, sans-serif;
  --system-mono: ui-monospace;
  --fallback-mono: "Roboto Mono", monospace, monospace;
  --font-color: var(--color-bbbb);
  --font-family: var(--system-ui);
  --font-family-mono: var(--system-mono), var(--fallback-mono);
  --font-size-pppppp: calc((96 / 16) * 1rem);
  --font-size-ppppp: calc((60 / 16) * 1rem);
  --font-size-pppp: calc((48 / 16) * 1rem);
  --font-size-ppp: calc((34 / 16) * 1rem);
  --font-size-pp: calc((24 / 16) * 1rem);
  --font-size-p: calc((20 / 16) * 1rem);
  --font-size-l: calc((18 / 16) * 1rem);
  --font-size: calc((16 / 16) * 1rem);
  --font-size-m: calc((14 / 16) * 1rem);
  --font-size-mm: calc((12 / 16) * 1rem);
  --font-size-mmm: calc((10 / 16) * 1rem);
  --line-height: calc(var(--spacing-p));
  --line-height-one: calc(var(--spacing-base));
  --line-height-half: calc(var(--spacing-m));
  --line-height-quarter: calc(var(--spacing-mm));
  color: var(--font-color);
  /*  font-family: var(--font-family);*/
  font-size: var(--font-size);
  line-height: var(--line-height);
  background: 0 0;
}
html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
b,
blockquote,
body,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
menu,
nav,
object,
ol,
p,
pre,
q,
s,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
u,
ul,
var {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  min-height: 100%;
}
blockquote,
dl,
figure,
h2,
h3,
h4,
h5,
h6,
hr,
menu,
ol,
p,
summary,
table,
ul {
  margin-bottom: var(--spacing);
}
blockquote {
  font-style: normal;
  padding: var(--spacing);
  border: var(--spacing-px) solid var(--font-color);
}
@media screen {
  blockquote {
    padding: 0 0 0 var(--spacing);
    border-width: 0 0 0 var(--spacing-micro);
  }
}
blockquote p {
  margin: 0;
}
blockquote p + p {
  margin-top: var(--spacing);
}
blockquote cite {
  font-style: normal;
  font-size: var(--font-size);
}
code,
kbd,
pre,
samp {
  font-family: var(--font-family-mono);
  font-size: var(--font-size);
  font-style: normal;
  line-height: var(--line-height);
}
@media screen {
  code,
  kbd,
  pre,
  samp {
    background: var(--color-code-light-background);
  }
}
code,
kbd,
samp {
  margin: 0;
}
@media screen {
  code,
  kbd,
  samp {
    background-color: var(--color-code-light-background);
  }
}
pre {
  position: relative;
  overflow: auto;
  padding: var(--spacing);
  white-space: pre-wrap;
  word-wrap: normal;
  word-break: normal;
  tab-size: 4;
  hyphens: none;
}
@media screen {
  pre {
    white-space: pre;
    background: var(--color-code-light-background);
  }
}
pre code {
  display: block;
  overflow: auto;
  height: 100%;
  margin: 0;
  padding: 0;
  white-space: pre;
  color: inherit;
  border: none;
  border-radius: 0;
  background: 0 0;
}
h1 {
  margin-bottom: var(--spacing-three);
  font-weight: 400;
  font-size: var(--font-size-pppp);
  line-height: var(--line-height-one);
  text-transform: none;
}
h2 {
  margin-bottom: calc(var(--spacing-two) - var(--spacing-micro));
  font-weight: 400;
  font-size: var(--font-size-ppp);
  line-height: var(--line-height-one);
  text-transform: none;
  letter-spacing: normal;
}
h3 {
  margin-bottom: calc(var(--spacing-one) + var(--spacing-micro));
  font-weight: 400;
  font-size: var(--font-size-pp);
  line-height: calc(var(--line-height-one) + var(--line-height-quarter));
  text-transform: none;
  letter-spacing: normal;
}
h4 {
  margin-bottom: var(--spacing);
  font-weight: 700;
  font-size: var(--font-size-p);
  line-height: var(--line-height-one);
  text-transform: none;
}
h5 {
  margin-bottom: 0;
  font-weight: 700;
  font-size: var(--font-size);
  line-height: var(--line-height);
  text-transform: none;
  letter-spacing: normal;
}
h6 {
  margin-bottom: 0;
  font-weight: 700;
  font-size: var(--font-size);
  line-height: var(--line-height);
  text-transform: none;
  letter-spacing: normal;
}
hr {
  padding-left: var(--spacing);
  border: 0;
  margin: 0;
  height: 1px;
  background-color: #ffffff;
}
img {
  font-style: italic;
  vertical-align: middle;
  max-width: 100%;
}
figcaption {
  margin-top: var(--spacing);
  font-size: var(--font-size-mm);
  font-style: normal;
}
figcaption > img {
  display: block;
}
dl dt {
  font-weight: 700;
}
dl dd {
  margin: 0;
}
ol li,
ul li {
  margin-left: var(--spacing);
}
ol {
  list-style: decimal;
}
ol ol {
  list-style: upper-alpha;
}
ol ol ol {
  list-style: lower-roman;
}
ol ol ol ol {
  list-style: lower-alpha;
}
ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
}
audio,
canvas,
iframe,
svg,
video {
  vertical-align: middle;
}
audio,
canvas,
video {
  width: 100%;
  height: auto;
}
@media print {
  a,
  a:visited {
    color: var(--font-color);
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  blockquote,
  pre {
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  img,
  tr {
    page-break-inside: avoid;
  }
  h2,
  h3,
  p {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
table {
  width: 100%;
  table-layout: fixed;
  empty-cells: show;
}
tr {
  vertical-align: baseline;
}
tfoot td,
th {
  text-align: left;
}
td,
th {
  overflow: visible;
}
caption,
p,
table,
td,
textarea,
th {
  word-wrap: break-word;
  hyphens: auto;
}
abbr,
acronym,
dfn[title] {
  cursor: help;
}
abbr a {
  text-decoration: none;
}
del {
  font-style: normal;
  text-decoration: line-through;
}
details {
  cursor: pointer;
}
cite,
em,
i {
  font-style: italic;
}

:root {
  --color-code-cloze: #f12056;
  --color-code-cloze-background: #ffffcc;
  --color-card-l: #757575;
  --color-card-ll: #bdbdbd;
  --color-card-lll: #eceff1;
  --color-card-llll: #fff;
  --color-nightmode-text: #fff;
  --color-nightmode-text-light: #ccc;
  --color-nightmode-text-dark: #333;
  --color-nightmode-border: #ddd;
  --color-nightmode-link: #3daee9;
  --color-code-bold: #f12056;
  --color-code-italic: #f67400;
  --color-code-dark-background: #353535;
  --color-code-dark-text-color: #efffff;
  --recursive: "Recursive";
  --font-family: var(--recursive), var(--system-ui);
  --font-family-header: var(--recursive), var(--system-ui);
  --font-family-mono: var(--recursive), var(--system-mono), var(--fallback-mono);
  --dejavu: "DejaVu Sans";
  --font-family-old: var(--dejavu);
  --font-family-header-old: var(--dejavu);
}
body {
  color: var(--font-color);
  /*  font-family: var(--font-family);*/
  font-size: var(--font-size);
  font-variation-settings: "CASL" 0.43;
  line-height: var(--line-height);
  background: transparent;
}
@font-face {
  font-family: "Recursive";
  src: url("_RecursiveVariableFont.woff2") format("woff2-variations");
  font-style: oblique 0deg 15deg;
  font-weight: 300 1000;
}
@font-face {
  font-family: "DejaVu Sans";
  src: url("_DejaVuSans.ttf");
  font-style: normal;
  font-weight: 400;
}
code,
kbd {
  padding: 0;
  background: var(--color-ll);
  border-color: transparent;
  padding: var(--spacing-micro) var(--spacing-half);
  font-size: inherit;
}
.nightMode code,
.nightMode kbd {
  background: #9a9a9a;
  color: black;
}
code:empty,
kbd:empty {
  margin: 0;
  padding: 0;
  background: transparent;
  border-color: transparent;
}
pre {
  font-size: inherit;
}
.nightMode pre {
  background: var(--color-code-dark-background);
}
h1 {
  font-size: var(--font-size-p);
  line-height: var(--line-height);
  text-transform: none;
  letter-spacing: normal;
}
h2 {
  font-weight: normal;
  font-size: var(--font-size);
  line-height: var(--line-height);
  text-transform: none;
  letter-spacing: normal;
}
table {
  text-align: left;
  border-collapse: collapse;
}
.nightMode table {
  border-color: var(--color-nightmode-border);
}
thead tr {
  border-bottom: 1px solid var(--color-card-l);
}
thead th {
  font-weight: 700;
}
tbody tr {
  border-bottom: 1px solid var(--color-card-ll);
}
.nightMode tbody tr {
  border-color: var(--color-card-l);
}
tbody tr:last-of-type {
  border-bottom-color: transparent;
}
tbody td {
  padding: var(--spacing-half) 0;
}
.nightMode a {
  color: var(--color-nightmode-link);
}
img {
  max-width: 100%;
  height: auto;
}
.gl-Card {
  background: transparent;
  overflow: hidden;
}
.nightMode .gl-Card {
  color: var(--color-nightmode-text);
  /* border: 1px solid var(--color-nightmode-border); */
}
.gl-Card header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  justify-content: space-evenly;
  align-items: baseline;
}
.gl-Card header h1 {
  flex: 0 0 100%;
  margin: 0;
  padding: var(--spacing-half);
}
.gl-Card_KeyPointNotes {
  margin: 0;
  margin-bottom: var(spacing-half);
  padding: var(--spacing-half);
  font-size: var(--font-size-p);
  text-align: left;
  line-height: 1.2;
}
.gl-Card_KeyPointNotes ul,
.gl-Card_KeyPointNotes ol {
  margin-left: var(--spacing-one);
  text-align: left;
}
.gl-Card_KeyPointNotes ul > li,
.gl-Card_KeyPointNotes ol > li {
  margin-left: var(--spacing-one);
}
.gl-Card_KeyPointNotes small {
  color: var(--color-card-l);
  text-align: center;
  display: block;
}
.gl-Card header code b,
.gl-Card header code strong,
.gl-Card header code i,
.gl-Card header code em {
  font-style: inherit;
  font-weight: inherit;
  text-decoration: none;
}

.gl-Card_KeyPointNotes table {
  margin: 0;
  padding: 0;
}
.gl-Card_KeyPointNotes pre {
  margin: 0;
  padding: var(--spacing-quarter);
  padding-top: 0;
  padding-bottom: 0;
  /* margin: var(--spacing-quarter); */
  /* padding: var(--spacing-quarter); */
}

.gl-CodeBlock {
  margin: var(--spacing-half);
}
.gl-CodeBlock pre {
  margin: 0;
  padding: var(--spacing-quarter);
}

pre,
pre code {
  text-align: left;
  color: var(--color-code-dark-text-color);
  font-family: var(--font-family-mono);
  background: var(--color-code-dark-background);
  margin: 0;
  padding: var(--spacing-quarter);
  border-radius: 20px;
}
@media (orientation: portrait) {
  .gl-Card_KeyPointNotes pre,
  .gl-CodeBlock {
    font-size: var(--font-size-m);
  }
}

.gl-CodeBlock table {
  margin: 0;
}

.gl-ImageBlock {
  display: flex;
}
.gl-ImageBlock img {
  margin: 0 auto;
}
